*{
   margin: 0px;
}

.nav{
   width: 100%;
   height: 80px;
   background-color: black;
   }

.nav1{
   width: 25%;
   background-color: green;
   float: left;
}

.nav1_logo{
   padding-top: 5px;
   padding-left: 150px;
}

.nav2{
   float: left;
   height: 80px;
   width: 45%;
   background-color: blue;
}

.nav2_title{
   margin-top: 9px;
   margin-bottom: 9px;
   background-color: red;
}

.nav2_title h4{
   text-align: center;
   color: yellow;
   font-size: 45px;
   font-weight: bold;
   font-family: verdana;
   text-transform: uppercase;
}

.nav3{
   float:left;
   height: 80px;
   width: 30%;
   background-color: purple;
}

.nav3_demo{
   margin-top: 20px;
   margin-bottom: 9px;
   background-color: pink;
}

.nav3_demo h2{
   text-align: center;
   color: black;
   font-size: 30px;
   font-weight: bold;
   font-family: verdana;
   text-transform: capitalize;
}

.menu{
   width: 100%;
   height: 50px;
   background-color: orange;
}

.menu_contents{
   background-color: lime;
   text-align: center;
}

.menu_contents ul{
 list-style-type: none;
}

.menu_contents ul li{
   color: blue;
   display: inline-block;
   background-color: orange;
   border-radius: 10px;
   text-transform: capitalize;
   padding: 10px;
   margin-left: 10px;
}

.intro{
   width: 100%;
   height: 200px;
   background-color: blue;
   color: white;
}

.intro_head{
   width: 100%;
   height: 100px;
   padding-top: 20px;
   text-align: center;
   font-size: 18px;
   font-family: arial;
   color: blue;
   background-color: lime;
}

.intro_sub{
   width: 100%;
   height: 50px;
   padding-top: 20px;
   color: black;
   font-size: 12px;
   font-family: verdana;
   text-align: center;
   background-color: yellow;
}



h1{
   background-color:red;
   color:blue;
   font-size: 50px;
   text-align: center;
}
